$section-gap: 10px;

.resume {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: $section-gap;

  section {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    h2 {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }

    h4 {
      font-size: 15px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }
  }

  a:hover {
    color: #2563eb;
    text-decoration: underline;
  }

  li {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: $section-gap;

    .header-title {
      flex-grow: 1;
      font-weight: 600;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      padding-right: 20px;

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 20px;
      }
    }

    .header-details {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 4px;

      .header-details-col {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        .header-detail-item {
          display: flex;
          gap: 4px;
          align-items: center;
        }
      }
    }
  }

  .skills-section {
    .skill-group-label {
      font-weight: 600;
    }
    .skill-group {
      display: flex;
      flex-wrap: wrap;

      .skill {
        display: inline;
      }
    }
  }

  .work-experience-section {
  }
}

.resume section.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.resume .horz-comma-ul {
  display: flex;
  flex-wrap: wrap;
}
